html {
  box-sizing: border-box;
  scroll-behavior: smooth
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --gap: 40px;
  --section-gap: 160px;
  --font-family: "Poppins", sans-serif;
  --second-family: "DM Sans", sans-serif;
  --dark-mode: #191919;
  --dark-mode-title: #ccc;
  --light-mode-title: #42446e;
  --light-mode: #fff;
  --dark-content: #666;
  --light-content: #a7a7a7;
  --color-white: #d9d9d9;
  --color-blue: #1c70ec;
  --color-green: #37c6d0;
  --color-yellow: #fefeb3;
  --opacity: .8;
  --time: .2s;
  --style: ease-in-out;
  --background-transition: background var(--time) var(--style);
  --color-transition: color var(--time) var(--style);
  --outline-transition: outline var(--time) var(--style);
  --transform-transition: transform .2s var(--style);
  --opacity-transition: opacity var(--time) var(--style);
  --fill-transition: fill var(--time) var(--style);
  --border-transition: border var(--time) var(--style);
}

body {
  font-family: var(--font-family), sans-serif;
  background-color: var(--dark-mode);
  transition: var(--color-transition), var(--background-transition);
}

.lightmode {
  background-color: var(--color-light-mode);
  transition: var(--color-transition), var(--background-transition);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1230px;
}

.section-gap {
  margin-bottom: var(--section-gap);
}

.section-title {
  margin-bottom: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  color: var(--dark-mode-title);
}

.lightmode .section-title {
  color: var(--light-mode-title);
}

.section-subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  line-height: 26px;
  color: var(--light-content);
}

.lightmode .section-subtitle {
  color: var(--dark-content);
}

/* header */
.header {
  padding: 20px 0;
  font-family: var(--second-family);
}

.header__container {
  align-items: center;
  font-family: var(--second-family);
}

.logo {
  display: block;
  margin-right: 180px;
  width: 100px;
  height: 87px;
}

.header__control {
  width: 100%;
  align-items: center;
}

.nav__item {
  margin-right: 65px;
}

.nav__link {
  padding-bottom: 6px;
  outline: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: var(--light-content);
  background-image: linear-gradient(45deg, var(--color-blue), rgb(28, 112, 236));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 2px;
  transition: var(--background-transition);
}

.lightmode .nav__link {
  color: var(--dark-content);
}

.lang-wrap {
  margin-right: auto;
}

.lang {
  font-weight: 700;
  font-size: 20px;
  outline: none;
  color: var(--light-content);
  transition: var(--color-transition), var(--opacity-transition);
}

.lightmode .lang {
  color: var(--dark-content);
}

.lang--inactive {
  color: var(--color-blue);
  pointer-events: none;
  cursor: default;
}

.lightmode .lang--inactive {
  color: var(--color-blue);
}

.lang-separetor {
  padding: 0 6px;
  font-weight: 400;
  color: var(--light-content);
}

.lightmode .lang-separetor {
  color: var(--dark-content);
}

.theme-switch {
  height: 46px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  outline: none;
}

.theme-switch__color {
  transition: var(--fill-transition), var(--opacity-transition);
}

.theme-switch svg:first-child {
  display: none;
}

.lightmode .theme-switch svg:last-child {
  display: none;
}

.lightmode .theme-switch svg:first-child {
  display: block;
}

.burger {
  position: relative;
  width: 24px;
  height: 16px;
  display: none;
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: var(--color-white);
  transform: translateY(-50%);
  transition: opacity .3s ease-in-out;
}

.lightmode .burger__line {
  background-color: var(--dark-mode);
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-white);
  transition: transform .3s ease-in-out, top .3s ease-in-out, bottom .3s ease-in-out;
}

.lightmode .burger::before,
.lightmode .burger::after {
  background-color: var(--dark-mode);
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger--active .burger__line {
  opacity: 0;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
}

.burger--active::after {
  top: 50%;
  bottom: auto;
  transform: rotate(-45deg);
}

.stop-scroll {
  overflow: hidden;
}

/* about */
.about__container {
  justify-content: space-between;
  align-items: center;
}

.about__text {
  max-width: 600px;
  font-weight: 700;
  font-size: 26px;
  line-height: 46px;
  letter-spacing: -0.02em;
  color: var(--color-white);
}

.lightmode .about__text {
  color: var(--light-mode-title);
}

.about__text-style {
  color: var(--color-blue);
}

.about__img {
  width: 340px;
  height: 340px;
}

/* resume */
.resume {
  position: relative;
  padding-top: 10px;
  background-color: #343434;
}

.lightmode .resume {
  background-color: #fff;
}

.resume__container {
  padding-top: 38px;
  padding-bottom: 40px;
}

.resume__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 4px;
  object-fit: cover;
  object-position: center;
  opacity: .5;
}

.lightmode .resume__video {
  opacity: .9;
}

.resume__contant {
  position: relative;
  z-index: 10;
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.resume::before,
.resume::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 20%;
  pointer-events: none;
  z-index: 5;
}

.resume::before {
  top: 0;
  background: linear-gradient(to bottom, #191919 0%, rgba(25, 25, 25, 0) 100%);
}

.resume::after {
  bottom: 0;
  background: linear-gradient(to top, #191919 0%, rgba(25, 25, 25, 0) 100%);
}

.lightmode .resume::before {
  height: 80%;
  background: linear-gradient(to bottom, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.lightmode .resume::after {
  height: 80%;
  background: linear-gradient(to top, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.resume__title {
  text-align-last: left;
}

.resume__list {
  margin-bottom: 36px;
}

.resume__item {
  padding: 10px 0;
  padding-left: 42px;
  font-size: 22px;
  color: var(--light-content);
  background-image: url(../icons/check.svg);
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: left;
}

.lightmode .resume__item {
  color: var(--light-mode-title);
}

.resume__item:not(:last-child) {
  margin-bottom: 30px;
}

.btn {
  align-self: center;
  justify-content: center;
  padding: 2px;
  max-width: 100%;
  min-width: 204px;
  border-radius: 50px;
  outline: none;
  text-align: center;
  font-size: 20px;
  color: var(--color-white);
  background-image: linear-gradient(144deg,
      var(--color-blue), #1265e2 30%, var(--color-green));
  transition: var(--background-transition), var(--transform-transition);
}

.btn__text {
  padding: 16px 24px;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background-color: var(--dark-mode);
  transition: background 300ms ease-in-out;
}

.lightmode .btn__text {
  color: var(--light-mode-title);
  background-color: #f0f0f0;
}

/* stack */
.stack__subtitle {
  margin-bottom: 60px;
}

.stack__list-work {
  margin-bottom: 80px;
  column-gap: 82px;
  row-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.stack__list-learn {
  margin-bottom: 80px;
  justify-content: space-around;
}

.stack__item {
  width: 80px;
  height: 80px;
}

.stack__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.stack-cert__list {
  justify-content: space-between;
}

.stack-cert__item {
  max-width: 220px;
  padding-top: 58px;
  background-position: 80px 0px;
  background-repeat: no-repeat;
  background-size: 52px 52px;
}

.stack-cert__link {
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-white);
  transition: var(--color-transition);
}

.lightmode .stack-cert__link {
  color: var(--dark-content);
}

.cert-cademy {
  background-image: url(../icons/it-academy.svg);
}

.cert-skillbox {
  background-image: url(../icons/skillbox.svg);
}

.cert-udemy {
  background-image: url(../icons/udemy.svg);
}

/* projects */
.projects {
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -30px;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 9px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 9px));
}

.swiper-pagination-bullet-active {
  background: var(--color-blue);
}

.projects__item {
  padding-top: 286px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  max-width: 320px;
  background-color: #363636;
  background-image: url(../img/stub.webp);
  background-repeat: no-repeat;
  background-size: 100% 260px;
}

.lightmode .projects__item {
  border: 1px solid var(--color-white);
  background-color: var(--light-mode);
  box-shadow: none;
}

.projects__subtitle {
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 28px;
  line-height: 26px;
  color: var(--dark-mode-title);
}

.lightmode .projects__subtitle {
  color: #000;
}

.projects__descr {
  margin-bottom: 12px;
  width: 314px;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: var(--dark-mode-title);
}

.lightmode .projects__descr {
  color: var(--dark-content);
}

.projects__stack {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: var(--dark-mode-title);
}

.lightmode .projects__stack {
  color: var(--light-mode-title);
}

.slider .swiper-wrapper {
  box-sizing: border-box;
}

.projects__stack-list {
  font-weight: 300;
  font-size: 14px;
}

.projects__links {
  align-items: center;
  justify-content: space-between;
}

.projects__view {
  padding-left: 26px;
  padding-bottom: 6px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-white);
  background-image: url(../icons/link.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  transition: var(--color-transition), var(--background-transition);
}

.lightmode .projects__view {
  color: #000;
  background-image: url(../icons/link-dark.svg);
}

.projects__code {
  padding-left: 26px;
  padding-bottom: 8px;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-white);
  background-image: url(../icons/github-sm.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  transition: var(--color-transition), var(--background-transition);
}

.lightmode .projects__code {
  color: #000;
  background-image: url(../icons/git-dark.svg);
}

/* footer */
.footer {
  font-family: var(--second-family);
}

.footer__top {
  align-items: center;
  padding-bottom: 42px;
  border-bottom: 2px solid #42446e;
}

.lightmode .footer__top {
  border-bottom-color: rgb(102, 102, 102, .2);
}

.footer__logo {
  margin-right: auto;
  width: 60px;
  height: 38px;
}

.phone {
  margin-right: 30px;
  column-gap: 20px;
}

.phone__link {
  padding-right: 26px;
  outline: none;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--light-content);
  background-image: url(../icons/phone.svg);
  background-size: 20px 20px;
  background-position: right center;
  background-repeat: no-repeat;
  transition: var(--color-transition), var(--transform-transition);
}

.lightmode .phone__link {
  color: var(--light-mode-title);
}

.mail {
  position: relative;
  margin-right: auto;
}

.mail__link {
  padding-right: 26px;
  outline: none;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--light-content);
  background-image: url(../icons/gmail.svg);
  background-size: 20px 20px;
  background-position: right center;
  background-repeat: no-repeat;
  transition: var(--color-transition);
}

.lightmode .mail__link {
  color: var(--light-mode-title);
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  display: block;
  width: 34px;
  height: 34px;
  transition: var(--opacity-transition), var(--transform-transition);
}

.social__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__bottom {
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
}

.footer__nav-list {
  column-gap: 20px
}

.footer__nav-link {
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--light-content);
  transition: var(--color-transition);
}

.lightmode .footer__nav-link {
  color: var(--light-mode-title);
}

.author {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-blue);
}